.navbar {
  height: 60px;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #c00d0d;
}

.nav-links a:hover {
  color: white;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
}

/* MOBILE */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #111;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 0;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
